/* Estilos globales */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #743d1c;
	font-family: Comic Sans MS;
	font-size: 20px;
}

.contenedor-principal {
	background: #af8261;
	width: 90%;
	max-width: 1300px;
	margin: 50px auto;
	padding: 50px;
	border-radius: 15px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.logos {
	font-size: 30px;
	font-weight: 900;
	color: #714427;
	text-decoration: none;
	transition: all 0.5s ease;
}

.menu {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.menu a {
	font-size: 25px;
	border-bottom: 2px solid transparent;
	margin-left: 40px;
	color: #9b5a32;
	text-decoration: none;
	padding: 10px 20px; /* Añadido padding */
	border-radius: 10px; /* Bordes redondeados */
	background: #714427; /* Fondo color café para todos los botones */
	color: #ffffff; /* Texto en blanco */
}

.menu a:hover {
	background: #5c3820; /* Un tono más oscuro de café para el hover */
	color: #ffffff; /* Texto en blanco al pasar el mouse */
}

/* Otros estilos */
main {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 50px;
}

main .contenedor-image {
	width: 30%;
	margin-right: 20px;
}

img {
	height: 350px;
	width: 300px;
	border-radius: 20%;
}

.contenedor-texto.titulo {
	font-size: 45px;
	font-weight: normal;
	margin-bottom: 40px;
}

.contenedor-texto p {
	margin-bottom: 40px;
	line-height: 35px;
	font-size: 20px;
}

.contenedor-texto .cafe {
	font-weight: bold;
	color: #665f5b;
	font-style: normal;
}

.btn_link {
	display: inline-block;
	padding: 20px 40px;
	border-radius: 100px;
	background: #714427; /* Fondo color café */
	margin-right: 15px;
	text-decoration: none;
	color: #ffffff; /* Texto en blanco */
}

.btn_link:hover,
.btn_link.activo {
	color: #ffffff;
	background: #5c3820; /* Un tono más oscuro de café para el hover */
}
