body {
    background-image: url(../img/6.jpeg); 
    background-size: cover;
    font-family: Century Gothic;
    margin: 0;
    padding: 0;
    color:#ff33e3;
}
img {
    display: block;
    margin: 0 auto;
}
img {
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
img {
    display: block;
    margin: 0 auto;
    transition: 0.3s ease;
}

img:hover {
    opacity: 0.8;
}


h1, h2, h3 {
    color: #ffcc00; /* Cambia el color de los encabezados */
}
